<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_nav" aria-expanded="false">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><%= t "default" %></a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="main_nav">
			<ul class="nav navbar-nav navbar-left">
				<% if user_signed_in? %>
					<li class="<%=link_status("activity-feed")%>"><a href="<%=activity_feed_path%>"><%= t ".activity_feed" %></a></li>
					<li class="dropdown <%=link_status("achievements", "exercises", "foods")%>">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t ".my_achievements.heading" %><span class="caret vis-sm-inline"></span></a>
						<ul class="dropdown-menu">
							<li><a href="<%=new_user_achievement_path(current_user.slug)%>"><%= t ".my_achievements.new" %></a></li>
							<li role="separator" class="divider"></li>
							<li><a href="<%=user_achievements_path(current_user.slug)%>"><%= t ".my_achievements.achievements" %></a></li>
							<li role="separator" class="divider"></li>
							<li><a href="<%=user_achievements_path(current_user.slug, activity_type: "exercise")%>"><%= t ".my_achievements.exercises" %></a></li>
							<li role="separator" class="divider"></li>
							<li><a href="<%=user_achievements_path(current_user.slug, activity_type: "food")%>"><%= t ".my_achievements.foods" %></a></li>
						</ul>
					</li>
					<li class="dropdown <%=link_status("following", "followers", "blocked", "muted")%>">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t ".my_relationships.heading" %><span class="caret vis-sm-inline"></span></a>
						<ul class="dropdown-menu">
							<li><a href="<%=following_user_path(current_user.slug)%>"><%= t ".my_relationships.following" %></a></li>
							<li role="separator" class="divider"></li>
							<li><a href="<%=followers_user_path(current_user.slug)%>"><%= t ".my_relationships.followers" %></a></li>
							<li role="separator" class="divider"></li>
							<li><a href="<%=blocked_user_path(current_user.slug)%>"><%= t ".my_relationships.blocked" %></a></li>
							<li role="separator" class="divider"></li>
							<li><a href="<%=muted_user_path(current_user.slug)%>"><%= t ".my_relationships.muted" %></a></li>
						</ul>
					</li>
				<% end %>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<% if user_signed_in? %>
					<li><img class="img-circle mini-pic-display" src="<%=profile_pic_path(current_user)%>" alt="Profile Pic"></li>
					<li class="dropdown">
						<a id="acct-dropdown" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=current_user.first_name%><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="<%=user_path(current_user.slug)%>"><%= t ".profile" %></a></li>
							<li role="separator" class="divider"></li>
							<li><%= link_to t(".logout"), destroy_user_session_path, method: :delete %></li>
						</ul>
					</li>
				<% else %>
					<li><a href="<%=new_user_session_path%>"><%= t ".login" %></a></li>
				<% end %>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>