<%= content_for :title do %>
  <%= tag.title t("users.user_actions.#{params[:action]}.title", user_name: @user.try(:first_name)) %>
<% end %>

<%= content_for :doc_ready_script do %>
  <%= javascript_tag type: "text/javascript" do %>
    $(function() {
      userIndexInit();
      flashToggle();
    });
  <% end %>
<% end %>

<% if params[:action] == "index" || params[:action] == "muted" || params[:action] == "blocked" %>
  <%= tag.h2 t("users.user_actions.#{params[:action]}.heading"), id: "user-index-heading", class: %w[text-center] %>
  <% if params[:action] == "index" %>
    <%= tag.div class: %[row text-center] do %>
      <%= link_to t(".most_active"), most_active_today_users_path %>
    <% end %>
  <% end %>
<% else %>
  <% if viewing_own_profile_while_logged_in? %>
    <%= tag.h2 t("users.user_actions.#{params[:action]}.my_heading"), class: %w[text-center] %>
  <% else %>
    <%= tag.h2 t("users.user_actions.#{params[:action]}.other_user_heading", user_name: @user.first_name), class: %w[text-center] %>
  <% end %>
<% end %>

<%= tag.div "", id: "user-index-items" %>

<script type="text/x-handlebars-template" id="index-template">
  {{#each this}}
    {{> userIndex}}
  {{/each}}
</script>

<script type="text/x-handlebars-template" id="user-index-partial">
  <div id="{{id}}" class="user-index card-style col-sm-4">
    <a href="{{view.show_link}}"><img src="{{view.profile_pic_path}}" alt="" class="img-circle index-icon"></a>
    <span class="follow-status-msg follow-status-msg-index">{{view.follow_status}}</span>
    <div class="user-actions-btn text-center">
      {{> actionButton }}
    </div>
    <h3 class="index-name">{{truncated_name}}</h3>
    <p class="index-quote">{{truncated_quote}}</p>
  </div>
</script>

<script type="text/x-handlebars-template" id="user-action-button-partial">
  <div class="btn-group">
    <a href="/#" class="{{view.primary_action.classes}}" data-slug="{{slug}}" data-action="{{view.primary_action.name}}" data-method="{{view.primary_action.method}}" onclick="event.preventDefault();primaryActionButton(this)">{{view.primary_action.locale_name}}</a>
    {{#if view.secondary_action}}
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        {{#each view.secondary_action}}
          <li><a href="/#" data-slug="{{../slug}}" data-action="{{name}}" data-method="{{method}}" onclick="event.preventDefault();secondaryActionButton(this)">{{locale_name}}</a></li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
</script>