<%= content_for :title do %>
  <%= tag.title t(".title", user_name: @user.first_name) %>
<% end %>

<div class="row" style="margin-bottom:40px;">
	<div class="col-sm-12">
		<img class="profile-pic-display img-thumbnail" src="<%=profile_pic_path(@user)%>" alt="<%=@user.first_name%>'s Profile Pic">
    <% if viewing_own_profile_while_logged_in? %>
      <%= tag.h2 t(".my_heading", first_name: @user.first_name), id: "profile-heading" %>
      <%= tag.a t(".edit"), href: edit_user_registration_path %>
    <% else %>
      <%= tag.h2 t(".other_user_heading", full_name: @user.name), id: "profile-heading" %>
    <% end %>
		<h4 id="calorie-goal-display"><%=t ".daily_calorie_goal"%> <%=@user.daily_calorie_intake_goal%></h4>
		<h5 id="quote-display"><%= @user.quote %></h5>
		<div class="follow-status-msg-show-container">
			<%= follow_status(@user, class: %w[follow-status-msg follow-status-msg-show]) %>
		</div>	
	</div>
</div>
<% unless viewing_own_profile_while_logged_in? %>
	<div class="row text-center">
		<%= action_button(@user) %>
	</div>
<% end %>
<div class="row">
	<div class="text-center center-block">
		<%= link_to user_achievements_path(@user.slug), class: 'plain-style' do %>
			<%= tag.h3 t(".all_achievements") %>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="relationship-index col-sm-5 card-style">
		<%= link_to following_user_path(@user.slug), class: 'plain-style' do %>
			<h3 class="text-center"><%= t ".following", count: @user.following.count %></h3>
		<% end %>
		<% @user.following.first(6).each do |user| %>
			<%= link_to user_path(user.slug) do %>
				<%= image_tag profile_pic_path(user), class: %w[img-circle mini-pic-display], title: user.name %>
			<% end %>
		<% end %>
	</div>
	<div class="relationship-index col-sm-5 col-sm-offset-2 card-style">
		<%= link_to followers_user_path(@user.slug), class: 'plain-style' do %>
			<h3 class="text-center"><%= t ".followers", count: @user.followers.count %></h3>
		<% end %>
		<% @user.followers.first(6).each do |user| %>
			<%= link_to user_path(user.slug) do %>
				<%= image_tag profile_pic_path(user), class: %w[img-circle mini-pic-display], title: user.name %>
			<% end %>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="col-sm-5 card-style">
		<h3 class="text-center"><%= t ".recent_exercises" %></h3>
		<% if @user.recent_achievements("exercise").count < 1 %>
			<p class="text-center no-items-style"><%= t ".no_activity" %></p>
		<% else %>
			<ul>
			<% @user.recent_achievements("exercise").each do |achievement| %>
				<li class="index-style"><%=print_date(achievement.completed_on)%> - <%=render partial: 'achievements/exercise', locals: {exercise: achievement}%></li>
			<% end %>
			</ul>
		<% end %>
		<a class="more-link" href="<%=user_achievements_path(@user.slug, activity_type: "exercise")%>"><%= t ".more_link" %></a>
	</div>
	<div class="col-sm-5 col-sm-offset-2 card-style">
		<h3 class="text-center"><%= t ".recent_foods" %></h3>
		<% if @user.recent_achievements("food").count < 1 %>
			<p class="text-center no-items-style"><%= t ".no_activity" %></p>
		<% else %>
			<ul>
			<% @user.recent_achievements("food").each do |achievement| %>
				<li class="index-style"><%=print_date(achievement.completed_on)%> - <%=render partial: 'achievements/food', locals: {food: achievement}%></li>
			<% end %>
			</ul>
		<% end %>
		<a class="more-link" href="<%=user_achievements_path(@user.slug, activity_type: "food")%>"><%= t ".more_link" %></a>
	</div>
</div>
