<%= content_for :title do %>
  <%= tag.title t(".title", user_name: @user.first_name) %>
<% end %>

<div class="row" style="margin-bottom:20px;">
	<div class="col-sm-12">
		<img class="profile-pic-display img-circle" src="<%=profile_pic_path(@user)%>" alt="<%=@user.first_name%>'s Profile Pic">
    <% if viewing_own_profile_while_logged_in? %>
      <%= tag.h2 t(".my_heading", first_name: @user.first_name), id: "profile-heading" %>
      <%= tag.a t(".edit"), href: edit_user_registration_path %>
    <% else %>
      <%= tag.h2 t(".other_user_heading", full_name: @user.name), id: "profile-heading" %>
    <% end %>
		<h4 id="calorie-goal-display"><%=t ".daily_calorie_goal"%> <%=@user.daily_calorie_intake_goal%></h4>
	</div>
</div>
<div class="row">
	<div class="col-sm-5 card-style clearfix">
		<h3 class="text-center"><%= t ".recent_exercises" %></h3>
		<% if @user.recent_achievements("exercise").count < 1 %>
			<p><%= t ".no_activity" %></p>
		<% else %>
			<ul>
			<% @user.recent_achievements("exercise").each do |achievement| %>
				<li class="index-style"><%=print_date(achievement.completed_on)%> - <%=render partial: 'achievements/exercise', locals: {exercise: achievement}%></li>
			<% end %>
			</ul>
		<% end %>
		<a class="more-link" href="<%=user_achievements_path(@user.slug, activity_type: "exercise")%>"><%= t ".more_link" %></a>
	</div>
	<div class="col-sm-5 col-sm-offset-2 card-style clearfix">
		<h3 class="text-center"><%= t ".recent_foods" %></h3>
		<% if @user.recent_achievements("food").count < 1 %>
			<p><%= t ".no_activity" %></p>
		<% else %>
			<ul>
			<% @user.recent_achievements("food").each do |achievement| %>
				<li class="index-style"><%=print_date(achievement.completed_on)%> - <%=render partial: 'achievements/food', locals: {food: achievement}%></li>
			<% end %>
			</ul>
		<% end %>
		<a class="more-link" href="<%=user_achievements_path(@user.slug, activity_type: "food")%>"><%= t ".more_link" %></a>
	</div>
</div>
