<div class="row" style="margin-bottom:20px;">
	<div class="col-sm-12">
		<img class="profile-pic-display img-circle" src="<%=profile_pic_path(@user)%>" alt="<%=@user.first_name%>'s Profile Pic">
    <% if viewing_own_profile_while_logged_in? %>
      <%= tag.h2 t(".my_heading", first_name: @user.first_name) %>
      <%= tag.a t(".edit"), href: edit_user_registration_path %>
    <% else %>
      <%= tag.h2 t(".other_user_heading", full_name: @user.name) %>
    <% end %>
		<h4 id="calorie-goal-display"><%=t ".daily_calorie_goal"%> <%=@user.daily_calorie_intake_goal%></h4>
	</div>
</div>
<div class="row">
	<div class="col-sm-5 card-style clearfix">
		<h3><%= t ".recent_exercises" %></h3>
		<% if @user.recent_exercises.count < 1 %>
			<p><%= t ".no_activity" %></p>
		<% else %>
			<ul>
			<% @user.recent_exercises.each do |exercise| %>
				<li class="index-style"><%=print_time(exercise.achievement.completed_on)%> - <%=attr_display_str(exercise,["name","calories_burned"])%></li>
			<% end %>
			</ul>
		<% end %>
		<a class="more-link" href="<%=user_exercises_path(@user)%>"><%= t ".more_link" %></a>
	</div>
	<div class="col-sm-5 col-sm-offset-2 card-style clearfix">
		<h3><%= t ".recent_foods" %></h3>
		<% if @user.recent_foods.count < 1 %>
			<p><%= t ".no_activity" %></p>
		<% else %>
			<ul>
			<% @user.recent_foods.each do |food| %>
				<li class="index-style"><%=print_time(food.achievement.completed_on)%> - <%=attr_display_str(food,["name","calories"])%></li>
			<% end %>
			</ul>
		<% end %>
		<a class="more-link" href="<%=user_foods_path(@user)%>"><%= t ".more_link" %></a>
	</div>
</div>
