<%= content_for :title do %>
  <%= tag.title t(".title") %>
<% end %>

<%= content_for :doc_ready_script do %>
  <%= javascript_tag type: "text/javascript" do %>
    $(document).on('turbolinks:load', function() {
      newsFeedUpdateInit();
      setLocale();
      flashToggle();
    });
  <% end %>
<% end %>

<%= tag.div class: %w[row text-center] do %>
  <%= link_to t(".user_index"), users_path %>
<% end %>
<%= tag.div id: 'news-feed-profile' do %>
  <%= link_to user_path(current_user.slug) do %>
    <%= image_tag profile_pic_path(current_user), class: %w[index-icon img-circle] %>
  <% end %>
  <%= tag.h3 current_user.name %>
  <%= tag.p current_user.quote, class: %w[index-quote] %>
  <%= tag.div class: %w[row] do %>
    <%= tag.div class: %w[col-xs-6 text-center] do %>
      <%= tag.h4 User.human_attribute_name(:following) %>
      <%= link_to current_user.following.count, following_user_path(current_user.slug), class: %w[plain-style] %>
    <% end %>
    <%= tag.div class: %w[col-xs-6 text-center] do %>
    <%= tag.h4 User.human_attribute_name(:followers) %>
      <%= link_to current_user.followers.count, followers_user_path(current_user.slug), class: %w[plain-style] %>
    <% end %>
  <% end %>
<% end %>
<%= tag.div id: 'news-feed-items-container' do %>
  <% if @feed.size == 0 %>
    <%= tag.div class: %w[row text-center] do %>
      <%= tag.p t(".no_items"), class: %w[no-items-style col-xs-12] %>
    <% end %>
  <% else %>
    <%= render collection: @feed, partial: 'feed_item' %>
  <% end %>
<% end %>

<script id="news-feed-item-template" type="text/x-handlebars-template">
  <div id="{{id}}" class="news-feed-item", data-created-at="{{created_at}}", data-updated-at="{{updated_at}}">
    <span class="time-since-created">{{timeSinceCreated}}</span>
    <div class="row">
      <div class="col-xs-4">
        <a href="{{view.user_show_link}}"><img src="{{view.user_profile_pic}}" class="index-icon img-circle"></a>
      </div>
      <div class="col-xs-8">
        <div class="row">
          <img src="{{view.activity_icon_src}}" class="mini-pic-display">
          {{view.ach_show_link}}
        </div>
        <div class="row">
          <p class="comment" style="width:85%;">{{comment}}</p>
        </div>
      </div>
    </div>
  </div>
</script>