<%= tag.div class: %w[row text-center], style: "margin-bottom:25px;" do %>

  <%= form_tag user_exercises_path, method: :get do %>
    <%= label_tag 'filter', 'Sort by:' %>
    <%= tag.select name: 'filter', id: 'filter' do %>
      <option value="date" <%= "selected" if params[:filter] == 'date' %>>Date</option>
      <option value="calories burned" <%= "selected" if params[:filter] == 'calories burned' %>>Calories Burned</option>
      <option value="name" <%= "selected" if params[:filter] == 'name' %>>Name</option>
    <% end %>
    <%= label_tag 'order', 'Order:' %>
    <%= tag.select name: 'order', id: 'order' do %>
      <option value="descending" <%= "selected" if params[:order] == 'descending' %>>Descending</option>
      <option value="ascending" <%= "selected" if params[:order] == 'ascending' %>>Ascending</option>
    <% end %>
    <%= submit_tag 'Sort', class: %w[btn btn-default btn-xs] %>
  <% end %>
<% end %>