<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <!-- Icon Link -->
    <%= favicon_link_tag %>
    <!-- Title Tag -->
    <%= yield :title %>
    <!-- Stylesheets and Javascript Links -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag type: "text/javascript" do %>
      $(document).on('turbolinks:load', function() {
        setLocale();
        if ((window.location.pathname !== "/news-feed" || window.location.pathname !== "/") && window.feedVarsSet === true) {
          resetFeedVars();
          console.log("news feed reset fired")
        }
        flashToggle();
      });
    <% end %>
    <%= yield :doc_ready_script %>
  </head>
  <body lang="<%= I18n.locale %>">
    <header>
      <%= render partial: 'shared/nav' %>
    </header>
    <main>
      <div class="container">
        <%= tag.div id: 'flash-notice-container' do %>
          <%= render partial: 'shared/lang_selection' %>
          <%= tag.p flash[:error], id: "error-flash-msg", class: %w[error-msg text-center flash-msg] %>
          <%= tag.p flash[:alert], id: "alert-flash-msg", class: %w[error-msg text-center flash-msg] %>
          <%= tag.p flash[:notice], id: "notice-flash-msg", class: %w[text-center flash-msg] %>
        <% end %>
        <%= yield %>
      </div>
    </main>
    <footer>
      <p class="text-center">Designed by Efrain Perez Jr</p>
    </footer>
  </body>
</html>
