<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <title><%= @title %></title>
    <!-- Icon Link -->
    <link href="<%=url("images/favicon.ico")%>" type="image/x-icon" rel="icon">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render partial: 'nav'%>  
    </header>
    <main>
      <%= tag.p flash.error, class: %w[error-msg text-center] if flash.error.present? %>
      <%= tag.p flash.notice, class: %w[text-center] if flash.notice.present? %>
      <% if flash[:warnings].present? %>
        <% flash[:warnings].each do |warning| %>
          <%= tag.p warning, class: %w[error-msg text-center] %>
        <% end %>
      <% end %>
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <footer>
      <p class="text-center">Designed by Efrain Perez Jr</p>
    </footer>
  </body>
</html>
