<%= form_for(resource, as: resource_name, url: registration_path, method: html_method) do |f| %>
  <%= devise_error_messages! %>
  <%= tag.div class: 'form-group' do %>  
    <%= image_tag profile_pic_path(current_user), class: 'profile-pic-select img-thumbnail' %>
    <%= f.file_field(:profile_pic, accept: 'image/*') unless current_user.try(:remote_profile_pic) %>
  <% end %>
  <% if resource.profile_pic_url.present? %>
    <%= tag.div class: 'form-group' do %>
      <%= f.check_box :remote_profile_pic %>
      <%= f.label :remote_profile_pic, t(".remote_profile_pic_label", remote_profile_pic: User.human_attribute_name(:remote_profile_pic, provider: resource.provider.capitalize)) %>
      <% unless current_user.remote_profile_pic %>
        <em> <%= t ".remote_profile_pic_msg" %> </em>
      <% end %>
    <% end %>
  <% end %>
  <%= tag.div class: 'form-group' do %>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', autofocus: true, placeholder: t(".name_placeholder", maximum: resource.get_length_validation_options_for(:name)[:maximum]) %>
  <% end %>
  <%= tag.div class: 'form-group' do %>
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control', autofocus: true %>
  <% end %>
  <% if (params[:action] == "edit" || params[:action] == "update") && devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t ".awaiting_confirmation" %> <%= resource.unconfirmed_email %></div>
  <% end %>
  <%= tag.div class: 'form-group' do %>
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em><%= t ".password_minimum", minimum_length: @minimum_password_length %></em>
    <% end %>
    <%= f.password_field :password, class: 'form-control', autocomplete: "off", placeholder: t("users.registrations.#{params[:action]}.password_placeholder", default: "") %>
  <% end %>
  <%= tag.div class: 'form-group' do %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off", placeholder: t("users.registrations.#{params[:action]}.password_placeholder", default: "") %>
  <% end %>
  <%= tag.div class: 'form-group' do %>
    <%= f.label :daily_calorie_intake_goal %>
    <%= f.text_field :daily_calorie_intake_goal, class: 'form-control', autofocus: true %>
  <% end %>
  <%= tag.div class: 'form-group' do %>
    <%= f.label :quote %>
    <%= f.text_field :quote, class: 'form-control', autofocus: true, placeholder: t(".quote_placeholder", maximum: resource.get_length_validation_options_for(:quote)[:maximum]) %>
  <% end %>
  <% if params[:action] == 'edit' || params[:action] == 'update' %>
    <%= tag.div class: 'form-group' do %>
      <%= f.label :current_password %>
      <%= f.password_field :current_password, class: 'form-control', autocomplete: "off", placeholder: t(".current_password_placeholder") %>
    <% end %>
  <% end %>
  <%= tag.div class: 'form-group' do %>
    <%= f.submit t("users.registrations.#{params[:action]}.submit"), class: %w[btn btn-default] %>
  <% end %>
<% end %>
