<h2>Sign up</h2>
<%= tag.div class: %w[form-block center-block] do %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

  <%= tag.div class: 'form-group' %>  
    <%= image_tag profile_pic_path, class: %w[profile-pic-select] %>
    <%= file_field_tag 'profile_img', accept: 'image/*', class: %w[img-upload-btn] %>
  <% end %>
  

  
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  

  
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  

  
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  

  
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  

  
    <%= f.label :daily_calorie_intake_goal %><br />
    <%= f.text_field :daily_calorie_intake_goal, autofocus: true %>
  
    <%= f.submit "Sign up" %>
    
  <% end %>

  <%= render "users/shared/links" %>
<% end %>
